<h2 class="pb-4">Edit Products</h2>


<table class="table justify-content-center">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Gender</th>
            <th scope="col">Inventory</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of products">
        <tr>
            <th scope="row">{{product.roductID}}</th>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.gender}}</td>
            <td>{{product.inventory}}</td>
            <td>{{product.price}}</td>
            <td>
                <span style="color: yellowgreen; font-size: 14px;">
                    <i class="bi bi-pen" title="Edit Product"></i>
                </span>
            </td>
            <td>
                <span style="color: rgba(231, 62, 76, 0.781); font-size: 16px;">
                    <i class="bi bi-trash" title="Delete Product"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>