.card {
    border: 1px solid gray;
}

.card-title {
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.p-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}