<div class="mx-auto">
    <div class="card bg-dark" style="width: 18rem;  display: inline-block; margin: 10px;" *ngFor="let product of products">
        <img src="{{product.image}}" class="p-3" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <app-product-details [product]="product"></app-product-details>
            <!-- <a href="#" class="btn btn-primary">Product Details</a> -->
        </div>
    </div>
</div>