<h1>Cart Component</h1>

<div class="cart-item" *ngFor="let item of items">
    <div class="container">
        <div class="row">

            <div class="col-3">
                <h4>Item Name</h4>
                <span>{{ item.name }}</span>
            </div>
            <div class="col-3">
                <h4>Price</h4>
                <span>{{ item.price | currency }}</span>
            </div>
            <div class="col-3">
                <h4>Gender</h4>
                <span>{{ item.gender}}</span>
            </div>
            <div class="col-3">
                <h4>Remove from Cart</h4>
                <span><i class="bi bi-trash" (click)="deleteItem(item)"></i></span>
            </div>
        </div>
    </div>
</div>