<!-- <div class="container-fluid px-0">
  <div class="row">
    <div class="col-md-12">
      <img src="../../../assets/images/tech-merch-long.png" class="img-fluid w-100">
    </div>
  </div>
</div> -->

<div class="jumbotron bg-dark">
  <h1 style="font-size: 72px;">Tech Merch</h1>
  <p class="text-center">Search for merchandise and apparel by plenty of technologies. Love Angular? There's a shirt for
    that</p>

  <div class="row">
    <div class="col text-center">
      <a class="btn btn-lg" routerLink="/shop" role="button">Shop now</a>
    </div>
  </div>
</div>