.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color:#343a40 !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-backdrop {
    background-color: #343a40 !important;
}

.btn {
    border: 1px solid white;
    color: white;
    border-radius: 0 !important;
    margin-top: 20px;
}

.btn:hover {
    background-color: greenyellow;
    color: black;
    font-weight: bolder;
    border: 1px solid black;
}

.alert {
    background-color: greenyellow;
    color: black;
}