

<div class="row justify-content-center">
    <div class="col-6">
        <h2>Add Products</h2>
        <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
            <label for="name">Product Name</label>
            <input type="text" class="form-control " id="name" placeholder="Enter Product Name"
                formControlName="name">

            <label for="type"> Type</label>
            <input type="text" class="form-control" id="type" placeholder="Enter Product Type"
                formControlName="type">
            
            <label for="technology"> Technology</label>
            <input type="text" class="form-control" id="technology" placeholder="Enter Product Technology"
                formControlName="technology">

            <label for="size"> Size</label>
            <input type="text" class="form-control" id="size" placeholder="Enter Product Size"
                formControlName="size">

            <label for="gender"> Gender</label>
            <input type="text" class="form-control" id="gender" placeholder="Enter Product Gender"
                formControlName="gender">
            
            <label for="inventory"> Inventory</label>
            <input type="number" class="form-control" id="inventory" placeholder="Enter Product Inventory"
                formControlName="inventory">

            <label for="price"> Price</label>
            <input type="number" class="form-control" id="price" placeholder="Enter Product Price"
                formControlName="price">
            
            <label for="image"> Image</label>
            <input type="text" class="form-control" id="image" placeholder="Enter Product Image"
                formControlName="image">
           
            <label for="description"> Description</label>
            <input type="text" class="form-control" id="description" placeholder="Enter Product Description"
                formControlName="description">



            <button class="btn mb-5" type="submit">Add Product</button>
        </form>
    </div>
</div>