.example-spacer {
    flex: 5 1 auto;
}

#icon {
      font-size: 28px;
      padding: 3px 15px 2px;
}

#icon:hover {
    color: yellowgreen;
}

.nav-link {
    margin-top: 13px;
    color: white;
    
}

.nav-link:hover {
    color: yellowgreen;
}