<h1>Shop</h1>

<div class="container-fluid px-0">
    <app-search-bar (newItemEvent)="getFilteredProducts($event)"></app-search-bar>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <app-product [filteredProducts]="filteredProducts"></app-product>
      </div>
    </div>
</div>
<!-- <div class="mx-auto">
    <div class="card" style="width: 18rem;  display: inline-block; margin: 10px;" *ngFor="let product of products">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Product Details</a>
        </div>
    </div>
</div> -->